body {
    background-color: rgb(15, 13, 20);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: white;
    font-family: monospace;
}

h1 {
    text-align: center;
}

.item {
    border: solid;
    border-color: whitesmoke;
    border-width: 10px;
    width: 230px;
    background-color: rgba(73, 70, 65, 0.466);
    border-radius: 15px;
}

.item:hover:not(:first-child) {
    background-color: gray;
    border-color: rgb(161, 55, 55);
}
.item:active{
    transform: translateY(5px);
}
.social-logo {
    max-width: 230px;
}

.position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.content {
    display: flex;
}

.itemtext {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    background-color: rgb(73, 70, 65, 0.466);
    border: solid;
    border-color: whitesmoke;
    border-width: 10px;
    border-radius: 15px;
}

.dc {
    color: aqua;
    text-decoration: underline;
}

.dc:hover {
    color: rgb(175, 223, 223);
}

.end {
    text-align: center;
}

.voetje {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
}

a{
    text-decoration: none;
}